body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    padding-top: 10px;
    display: flex;
    margin-left: 5%;
    height: 10vh;
    width: 95%;
    background-color: white;
    justify-content: center;
}

h1 {
    margin-top: 0.5%;
}

#logo {
    height: 50px;
    width: 50px;
}


aside {
    position: fixed;
    margin-top: -1%;
    width: 5%;
    height: 102vh;
    background-color: #525252;
    color: #F2BFA4;
}

#break {

    margin: 5px 0 ;
    height: 0.5vh;
    width: 100%;
    background-color: #F2BFA4;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    height: 100%;
}

.saira-semi-condensed-regular {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

li {
    font-size: larger;
    padding: 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.sidebtn {
    color: #F2BFA4;
    text-decoration: none;
}

li:hover {
    border-radius: 8px;
    width: 40%;
    color: #525252;
    background-color: #F2BFA4;
}

#logout {
    margin-bottom: 5%;
    position: absolute;
    bottom: 0;
    width: 70%;
}

#logout:hover {
    border-radius: 8px;
    width: 65%;
    color: #525252;
    background-color: #F2BFA4;
}

h2 {
    margin-left: 2%;
}

#main-content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 5%;
    height: 120vh;
    width: 95%;
    background-color: white;
    border-top: solid;
}

.card {
    border-width: 0.5px;
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 23%;
    height: fit-content;
    background-color: #F5E7DE;
}

.card-break {
    height: 0.3vh;
    width: 100%;
    background-color: #525252;
}



.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}

.poster-pfp {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

h5 {
    margin-left: 5px;
    margin-top: 9px;
}

.rating-number {
    margin-top: -3%;
    font-weight: bold;
}

.rating-reviews {
    color: #525252;
}

.review-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}