body {
    background-image: url(/login/images/login-screen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header{
    padding-top: 10px;
    display: flex;
    margin-left: 5%;
    height: 10vh;
    width: 95%;
    justify-content: center;
  }
  
  h1 {
    margin-top: 0.5%;
  }
  
  #logo {
    height: 50px;
    width: 50px;
  }
  
  h2{
      margin-top: 50px;
      text-align: center;
  }
  
  .login {
    margin-left: 60%;
      width: 35%;
      height: 50vh;
      padding: 20px 10px;
      background-color: #d5d5d5;
      border: solid;
      border-radius: 10px;
  }
  
  h2 {
      text-align: center;
  }
  
  label {
      display: inline-block;
      width: 150px;
      text-align: right;
  }
  
  input[type=text], input[type=password]{
      width: 60%;
      padding: 10px 20px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
  input[type=submit] {
      display: flex;
      width: 30%;
      margin: 20px auto;
      background-color: black;
      color: white;
      padding: 14px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    p {
      margin-top: 40px;
      text-align: center;
    }

    .provider-login-btn {
    display: block;
    width: 30%;
    text-align: center;
    margin: 10px auto 0;
    padding: 10px;
    background-color: #4CAF50; 
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.provider-login-btn:hover {
    background-color: #45a049; 
}