body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    padding-top: 10px;
    display: flex;
    margin-left: 5%;
    height: 10vh;
    width: 95%;
    background-color: white;
    justify-content: center;
}

h1 {
    margin-top: 0.5%;
}

#logo {
    height: 50px;
    width: 50px;
}


aside {
    position: fixed;
    margin-top: -1%;
    width: 5%;
    height: 102vh;
    background-color: #525252;
    color: #F2BFA4;
}

#break {

    margin: 5px 0 ;
    height: 0.5vh;
    width: 100%;
    background-color: #F2BFA4;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    height: 100%;
}

.saira-semi-condensed-regular {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

li {
    font-size: larger;
    padding: 20px;
    margin: 0 auto;
}

a {
    color: #F2BFA4;
    text-decoration: none;
}

li:hover {
    border-radius: 8px;
    width: 40%;
    color: #525252;
    background-color: #F2BFA4;
}

#logout {
    margin-bottom: 5%;
    position: absolute;
    bottom: 0;
    width: 70%;
}

#logout:hover {
    border-radius: 8px;
    width: 65%;
    color: #525252;
    background-color: #F2BFA4;
}

#main-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 5%;
    padding: 10px 0;
    height: 80vh;
    width: 95%;
    background-color: white;
    border-top: solid;
}

h2 {
    margin-left: 5%;
    width: 100%;
}

#provider-details {
    display: flex;
    width: 50%;
    height: fit-content;
    flex-direction: column;
}

.provider-pfp {
    border: solid;
    border-color: #525252;
    border-width: 0.5px;
    height: 65px;
    width: 65px;
    border-radius: 50px;
    margin-left: 5%;
}

.provider-name {
    margin-top: 5px;
    font-weight: bold;
    margin-left: 10px;
    font-size: larger;
}

.rating {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 10px;
}

.rating-number {
    margin: 0 3px;
    font-weight: bold;
}

.rating-reviews {
    color: #525252;
}

#banner{
    border-top: solid;
    border-bottom: solid;
    border-width: 10px;
    border-color: #525252;
    margin-left: 5%;
    height: 45%;
    width: 40%;
}

img {
    width: 100%;
    height: 100%;
}

#info {
    margin-left: 10%;
    border-width: 0.5px;
    margin-top: -175px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: fit-content;
    border: solid;
    border-color: #525252;
    background-color: #F5E7DE;
}

.location{
    display: flex;
    margin-left: 5px;
    font-weight: bold;
    padding-right: 50px;
}

.member-count {
    display: flex;
    margin-top: 5%;
    margin-left: 5px;
    font-weight: bold;
}

h3 {
    margin-left: 5%;
    width: 40%;
    margin-top: 5%;
}

#description {
    margin-left: 5%;
    width: 40%;
    border-bottom: solid;
}

#apply-form{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
    height: 30%;
}
textarea {
    resize: none;
    width: 96%;
    margin-top: 5px;
    padding: 10px;
    font-size: medium;
}

#actions{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    height: fit-content;
}

button {
    height: 50px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

#apply {
    background-color: #F2BFA4;
    height: 40px;
    font-weight: bold;
}

#apply:hover {
    background-color: #E6C3AD;
}

#message {
    background-color: rgb(113, 113, 234);
    margin-top: 10px;
}

#message:hover {
    background-color: rgb(91, 91, 189);
}

#review {
    margin-top: 10px;
}

#host-reviews {
    height: 300px;
    margin-top: -15%;
    margin-left: 10%;
    width: 40%;
}

.review-cardstack {
    height: 100%;
    overflow: auto;
}

.review-card {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    border: solid;
    padding: 10px;
}

.reviewer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.reviewer-pfp {
    border: solid;
    border-color: #525252;
    border-width: 0.5px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.review-text {
    width: 100%;
}

