body {
    background-image: url(/signup/images/login-screen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header{
    padding-top: 10px;
    display: flex;
    margin-left: 5%;
    height: 10vh;
    width: 95%;
    justify-content: center;
  }
  
  h1 {
    margin-top: 0.5%;
  }
  
  #logo {
    height: 50px;
    width: 50px;
  }
  

h3{
    margin-top: 20px;
    text-align: center;
}

.options{
    margin-left: 60%;
    width: 35%;
    height: 50vh;
    padding: 20px 10px;
    text-align: center;
    background-color: #d5d5d5;
    border: solid;
    border-radius: 10px;
}

.option {
    align-items: center;
    text-decoration: none;
}

div {
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 10px;
    padding-top: 4%;
    height: 5vh;
}

#looking{
    width: 100%;
    background-color: white;
    color: black;
}

#creating {
    width: 100%;
    background-color: white;
    color: black;
}

#looking:hover, #creating:hover {
    background-color: black;
    color: white;
}

h4 {
    font-size: larger;
}